.container{
    display: flex;
    border: 0cap;
    justify-content: center;
    flex-direction: row;
    border: 1px solid black;
    height: 100vh;

}
.box {
display: flex;
justify-content: center;
border: 1px solid black;
width: 20%;
height: 100vh;
}
.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    width: 80%;
    height: 100vh;
    font-size: 20px;
    align-items: center;
}
.box3 {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 20%;
    height: 100vh;
}
.box2-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    border: 1px solid black;
}
.box2-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}
.box2-bottom-middle {
    width: 50%;
    height: 50%;
    border: 2px solid black;
}