.container{
    display: flex;
    border: 0cap;
    justify-content: center;
    flex-direction: row;

}
.box {
display: flex;
justify-content: center;
border: 1px solid black;
width: 10%;
height: 700px;
}
.box2 {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 80%;
    height: 80px;
    font-size: 30px;
    align-items: center;
}
.box3 {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 10%;
    height: 700px;
}